.contact-point img {
    height: 40vh;
    width: max-content;
    /* Maintain the aspect ratio */
    position: absolute;
    right: 10%;
    /* Adjust the left margin as needed */
    /* top: 10%; */
    top: 15%;
}

.contact-point .contact-text-area {
    position: absolute;
    left: 10%;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.contact-center-form .modal-form-input .modal-label {
    width: 150px;
}

.contact-center-form .modal-form-input .modal-input {
    width: 400px;
}

.contact-center-form .modal-form-input textarea#message {
    width: 400px;
}

.contact-center-submit{
    background-color: #2bb9ff;
    padding: 10px;
    position: absolute;
    
}