.contact-point{
    display: flex;
    flex-direction: initial;
    height: auto;
}
.contact-point img {
    height: 40vh;
    width: max-content;
    /* Maintain the aspect ratio */
    position: inherit;
    right: 10%;
    /* Adjust the left margin as needed */
    /* top: 10%; */
    top: 15%;
}

.contact-point .contact-text-area {
    position: inherit;
    left: 10%;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    height: auto;
}

.contact-center-form {
    height: auto!important;
}

.contact-center-form .modal-form-input .modal-label {
    width: 150px;
}

.contact-center-form .modal-form-input .modal-input {
    width: 400px;
}

.contact-center-form .modal-form-input textarea#message {
    width: 400px;
}

.contact-center-submit{
    background-color: #2bb9ff;
    padding: 10px;
    position: inherit;
    border: none;
    border-radius: 5px;
    
}

@media (max-width: 768px) {
    .contact-point{
        display: flex;
        flex-direction: column;
    }

    .contact-text-area {
        width: 80%!important;
    }

    .contact-center-form .modal-form-input textarea#message {
        width: 85%;
    }

    .contact-point>img{
        height: 100px;
    }
    .contact-center-form .modal-form-input .modal-input {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .contact-point{
        display: flex;
        flex-direction: column;
    }

    .contact-text-area {
        width: 80%!important;
    }

    .contact-center-form .modal-form-input textarea#message {
        width: 85%;
    }

    .contact-point>img{
        height: 100px;
    }
    .contact-center-form .modal-form-input .modal-input {
        width: 80%;
    }
}
