.faqs {
  justify-content: space-around !important;
  width: 100%;
 }
 
 .faq-header {
  text-align: center;
  margin-top: 20px;
 }
 
 .faq-top {
  width: -webkit-fill-available;
  height: 60px;
 }
 
 .faq-list {
  list-style: none;
  padding: 0;
  width: 80%;
 }
 
 .faq-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 80%;
  height: auto;
 }
 
 .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
 }
 
 .faq-question-text {
  margin-right: auto;
 }
 
 .faq-toggle {
  height: 30px;
  cursor: pointer;
  padding: 10px;
 }
 
 .faq-toggle-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
 }
 
 .faq-toggle.expanded .faq-toggle-icon {
  transform: rotate(180deg);
 }
 
 .faq-answer {
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  display: block;
 }
 
 .faq-item.expanded .faq-answer {
  max-height: 1000px;
 }
 
 .faq-answer-text {
  margin-left: 25px;
 }
 