.footer{
    height:20vh;
}

.footer>fiv{
    padding: 0px;
    margin: 0px;
}
.top-footer{
    text-align:center;
    height: 15vh;
    background-color: #2bb9ff;
}


.bottom-footer{
    text-align:center;
    height: 5vh;
    background-color: #00063f;
    color: white;
}