.footer {
  height: auto;

}


.top-footer {
  text-align: center;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  margin-top: 20px;
}



.bottom-footer {
  height: 5vh;
  text-align: center;
  background-color: #00063f;
  color: white;
  color: #00063f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-style: italic;
  font-size: small;
  /* font-weight: bold; */
  padding-bottom: 5px;
  color: white;
  margin: 0px 10px;
}



.footer-column>ul {
  list-style: none;
  text-align: left;
  color: #00063f;
  font-size: 14px;
  padding: 0;
}

.footer-column h4 {
  text-align: left;
}

.footer-column li {
  margin-bottom: 5px;
  padding: 5px;
  text-align: initial;
  display: flex;
}

.footer-column li p {
  margin: 5px;
}

.footer-menus {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0px 25px 0px 0px;
}

.footer-icon {
  height: 30px !important;
}

.weekend {
  margin-left: 30px;
}

.footer-column li>p:hover{
  color: #2bb9ff;
  text-decoration: underline;
}

p.unhover:hover {
  color: #00063f!important;
}

/* Add this CSS to your existing stylesheet */

.socials:hover {
  transform: scale(1.05);
  /* animation: shake 0.04s ease-in-out 2;  */
}



.map{
  width: 90%;
  height: 75%;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}




@media (max-width: 768px) {
  .top-footer {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    width: 85%;
    margin: 0 auto;
  }

  .footer {
    height: inherit;
    width: inherit;
  }

  .footer-widget-area {
    display: none;
  }

  .footer-menus {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: flex-end;
  }

  .footer {
    align-items: flex-end;
    width: inherit;
  }

  .bottom-footer{
    flex-direction: column;
    height: auto;
    align-items: initial!important;
    width: inherit;
  }


}

@media (min-width:1200px) {

  .map{
    width: 500px;
    height: 250px;
  }
  
}