.appointment-modal {
    background-color: white !important;
    height: auto !important;
}

.acknowledgment-modal {
    width: 80%;
}

.error-message{
    color: #2bb9ff;
    margin:10px;
}
.modal-close {
    position: absolute;
    top: 0%;
    right: 0%;
    text-align: right;
    height: auto;
    width: 50px;
}

.appointment-modal label {
    color: #00063f;
    font-size: 16px;
}

.modal-label {
    display: inline-block;
    width: 50px;
    /* Set a fixed width for the labels */
    margin-right: 10px;
    /* Add some margin between the label and input */
}

.confirm-submit {
    background-color: #00063f;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 8px;
    margin-top: 20px;
    float: inline-end;
}

.modal-submit {
    position: inherit;
    background-color: #00063f;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 8px;
    margin-top: 20px;
    float: inline-end;
}

.modal-form-input {
    margin: 10px 0px;
}

input.modal-input {
    width: 100%;
    /* Set a fixed width for the input fields */
}

select.modal-input {
    width: 83%;
    /* Set a fixed width for the input fields */
}

textarea#message {
    width: 200px;
}

.modal-icon {
    height: 30px !important;
    width: 30px !important;
    ;
}

form.modal-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.appointment-modal:active .page-content-holder {
    filter: blur(5px);
}


.modal-header {
    color: #00063f;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: self-end;
}

.form-group label{
    width: 150px;
}


@media (max-width: 768px) {
    .appointment-modal {
        width: 80% !important;
        height: 90% !important;
    }

    .modal-submit {
        position: relative;
        right: -30%;
    }

    .menu {
        height: auto;
    }

    

}



@media (max-width: 1200px) {
    .appointment-modal {
        width: 80% !important;
        height: auto !important;
    }

    .modal-submit {
        position: relative;
        right: -30%;
    }
}



@media (min-width: 1200px) {
    .appointment-modal {
        width: 60% !important;
        height: fit-content !important;
    }

    .modal-submit {
        position: relative;
        right: -30%;
    }

}