/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white!important;
  color: #00063f;
  position: sticky;
  top: 0;
  z-index: 1000; 

}
  .logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
  }


.logo p {
  margin: 15px;
  font-size: 18px;
  color: #00063f;
}

.logo p:hover{
  color: #2bb9ff;
}

  img.logo {
    height: 50px;
    background-color: white!important;
}


  .menu {
    display: flex;
  }
  
  .menu a {
    text-decoration: none;
    color: #00063f;
    margin: 0 1rem;
    font-weight: bold ;
    cursor: pointer;
  }

  .menu img {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    height: 20px;
  }
  
  .burger-menu {
    cursor: pointer;
    display: none;
  }

  .call{
    height: 20px!important;
  }

  .mobile-icon{
    display: none;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    color: white;
    z-index: 1001;
  }
  
  .mobile-menu.active {
    display: block;
  }
  
  .mobile-menu-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  
  @media (max-width: 768px) {
    .burger-menu {
      display: block;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #00063f;
    }
  
    .menu.active {
      display: flex;
      background-color: white;
      color: #00063f;
      width: 80%;
    }
  
    .menu a {
      padding: 1rem;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      color: #00063f;
      text-align: initial;
      margin: 5px;
    }

    .menu-icon{
      height: 40px!important;
      opacity: 1!important;
    }
    .mobile-icon{
      display: inline;
      opacity: 1;
    }

    .logo p {
      margin: 10px;
      font-size: 12px;
      color: #00063f;
    }

    img.logo {
      height: 30px;
      background-color: white!important;
  }
  }