
  
  .panel-service {
    flex: 0 0 calc(33.33% - 20px); /* Set to 33.33% for three cards per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 300px;
    box-shadow:  2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .panel-service:hover {
    transform: scale(1.03);
    /* background-color: #E5E1EE; */
  }

  .panel-service:hover .panel-service-btn {
    background-color: #2bb9ff;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
  }

  .panel-service:hover .panel-service-image  {
    transform: scale(1.03);
  }

  
  .panel-service-image {
    width: 100%;
    height: 100px;
    /* border: 1px solid #00063f; */
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }

  .panel-service-body{
    padding: 1rem;
  
  }
  
  .panel-service-read-more{
    text-align: center;
    margin: 2rem;
  }
  .panel-service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
  }

  .service-image{
    height: 90px!important;
    width: 90px!important;
    align-self: center;
  }
  
  .panel-service-description {
    color: #00063f;
    height: 180px;
  }
  
  .panel-service-btn:hover {
    background-color: #2bb9ff;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
  }

  .panel-service-btn {
    background-color: white;
    border: solid 1px #2bb9ff;
    color: #2bb9ff;
    padding: 5px 15px;
    border-radius: 8px;
  }
  
  .service-table {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .service-table td {
    padding: 8px;
    font-size: small;
    /* border: 1px solid #ddd; */
  }
  
  .service-table td:first-child {
    font-weight: bold; /* Make the first column (labels) bold */
  }

  .bold-title {
    font-weight: bold;
    font-size:small!important;
  }

  .all-services {
    background-color: #00063f;
    margin: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    width: 150px;
    border-color: white !important;
    border: 1px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.all-services:hover{
  transform: scale(1.03);
  background-color: white;
    border: solid 1px #00063f!important;
    color: #00063f;
    margin: 2rem;
    padding: 10px;
    width: 150px;
    /* border-radius: 8px; */
}
  
  @media (max-width: 768px) {
    .panel-service {
      flex: 0 0 calc(80% - 20px);
      width: 300px;
      margin: 20px;
    }
  }
  