.patholgy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  
  .pathology-service {
    flex: 0 0 calc(33.33% - 20px); /* Set to 33.33% for three cards per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 300px;
    text-decoration: none;
    color: #00063f;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .pathology-service:hover {
    transform: none;
    /* background-color: #E5E1EE; */
  }
  
  .pathology-service-image {
    width: 100%;
    height: 200px;
    /* border: 1px solid #00063f; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pathology-service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .pathology-service-body {
    text-align: center;
    padding: 15px;
  }
  
  .pathology-btn {
    background-color: #00063f;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  
  @media (max-width: 768px) {
    .pathology-service {
      flex: 0 0 calc(80% - 20px);
      margin: 20px;
    }
  }
  