.patholgy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  
  .pathology-service {
    flex: 0 0 calc(30.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Add margin for each card */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)!important;
    background-color: #E5E1EE;
    overflow: hidden;
    position: relative;
    border: 1px solod #E5E1EE;
  }
  
  .pathology-service:hover {
    transform: scale(1.05) translateX(-10px);
    background-color: #2bb9ff;
    color: white;
  }


  
  .patholgy-service-image {
    max-height: 150px;
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio */
  }
  
  .pathology-btn {
    align-items: center;
    float: right;
    background-color: #00063f;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
  }
  
  @media (max-width: 768px) {
    .pathology-service {
      flex: 0 0 calc(80% - 20px);
      margin: 20px;
    }
  }
  