/* Default styles for desktop screens */
.reviews {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.review {
    flex: 0 0 auto;
    /* Other styles */
}

/* 
   .review {
    width: 100%;
} */

.review-desc {
    display: flex;
    justify-content: center;
}

.review-icon {
    align-self: center;
}

.review-icon>img {
    height: 30px;
    cursor: pointer;
}

.review-testimonial {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    display: inline-block;
    justify-content: space-around;
    transform: scale(0.9);
    height: 100px;

}

.reviews .review:nth-child(3) .review-testimonial {
    /* Add your special styles here */
    background-color: #00063f!important; 
    color: white!important;
   }


.reviews .review:nth-child(3) .reviewer-desc {
    color: white!important;
   }

   .reviews .review:nth-child(3) .reviewer-name {
    color: white!important;
   }
   

/* Styles for mobile screens */
@media screen and (max-width: 768px) {
    .reviews {
        /* flex-direction: column; */
        display: flex;
    }

    .left {
        align-self: center;
        position: absolute;
        left: 0%;
    }

    .right {
        align-self: center;
        position: absolute;
        right: 0%;
    }

    .review {
        flex: 0 0 100%;
    }
}


@media screen and (min-width: 769px) and (max-width: 1200px) {
    .reviews {
        /* flex-direction: column; */
        display: flex;
    }

    .left {
        align-self: center;
        position: absolute;
        left: 10%;
    }

    .right {
        align-self: center;
        position: absolute;
        right: 10%;
    }

    .review {
        flex: 0 0 100%;
    }
}