/* Add this to your existing CSS file or create a new one (e.g., services.css) */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-sections {
  display: flex;
  /* flex-direction: column; */
}

.section-button {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.section-button img {
  height: 20px;
  margin-right: 8px; /* Adjust the spacing between the icon and text */
}

.section-button.active {
  background-color: #ddd; /* Change the background color for the active button as needed */
}

.section-table {
  width: 80%; /* Adjust the width as needed */
}

.section-table h4{
    color: #00063f;
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
    background-color: #00063f; /* Blue band color */
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .custom-table td {
    padding: 10px;
    text-align: left;
  }
  
  .even-row {
    background-color: white;
    color: #00063f;
  }
  
  .odd-row {
    background-color: #00063f;
    color: white;
  }

@media (max-width: 768px) {
    .test-sections {
        display: flex;
        flex-wrap: wrap;
    }
    .section-button {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        border: none;
        margin: 2px;
        width: 150px;
    }
}
