.service-detail-page{
    margin: 0 auto;
}

.service-detail-banner{
    width: -webkit-fill-available;
    height: 200px!important;
    object-fit: cover;
}

.service-detail-header{
    align-self:  baseline;
    position: absolute;
    left: 3%;
    color: #00063f;
}


.service-content{
    margin: 10px;
}