.service-detail-page {
  margin: 0 auto;
}

.service-detail-banner {
  width: -webkit-fill-available;
  height: 200px !important;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  justify-content: space-evenly;
}

.service-detail-banner h4{
  font-size: large!important;
}
.service-detail-header:hover{
  transform: scale(1.05);
}

.back{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}


.service-detail-image {
  /* object-fit: cover; */
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.service-detail-image img {
    height: 150%;
    width: -webkit-fill-available;
}




.service-detail-header {
  align-self: baseline;
  position: absolute;
  left: 3%;
  top: 25%;
  color: #00063f;
  display: flex;
  align-items: center;
  /* height: -webkit-fill-available;
  width:  -webkit-fill-available; */
}

.service-detail-header h3{
  background-color: #d7d7e5;
 
}


.service-content {
  margin: 10px;
}

.service-paragraph-header {
  color: #2bb9ff;
}

.service-paragraph-text {
  color: #00063f;
  font-style: italic;
}

.credits {
  position: inherit;
  align-self: flex-end;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

.credits h3 {
  margin: 0;
  color: #00063f;
}

.credits p {
  margin: 5px 0;
  color: #2bb9ff;
}



@media (max-width: 768px) {

  .service-detail-header {
    align-self: baseline;
    position: absolute;
    left: 3%;
    top: 4%;
    color: #00063f;
  }
}



@media (min-width: 1200px) {

  .service-detail-header {
    align-self: baseline;
    position: absolute;
    left: 3%;
    top: 12%;
    color: #00063f;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {

  .service-detail-header {
    align-self: baseline;
    position: absolute;
    left: 3%;
    top: 12%;
    color: #00063f;
  }
}