/* team.css */

.team {
    text-align: center;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .team-member {
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
  }
  
  .member-image {
    height: 45%;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  
  .member-image img {
    width: 100%;
    height: auto;
  }
  
  .member-info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
  }
  
  .member-info h3 {
    margin: 0;
  }
  
  .member-info p {
    margin: 5px 0;
    color: #777;
  }
  
  .testimonial {
    color: #555;
  }
  